#### Create Database Connection and Set Configurations

In [3]:
%%capture
%load_ext sql
%sql sqlite:///northwind.db

In [4]:
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%config SqlMagic.displaylimit = 100

In [6]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

+--------------------------------+-------+
|              name              |  type |
+--------------------------------+-------+
|           Categories           | table |
|        sqlite_sequence         | table |
|      CustomerCustomerDemo      | table |
|      CustomerDemographics      | table |
|           Customers            | table |
|           Employees            | table |
|      EmployeeTerritories       | table |
|         Order Details          | table |
|             Orders             | table |
|            Products            | table |
|            Regions             | table |
|            Shippers            | table |
|           Suppliers            | table |
|          Territories           | table |
| Alphabetical list of products  |  view |
|      Current Product List      |  view |
| Customer and Suppliers by City |  view |
|            Invoices            |  view |
|           Orders Qry           |  view |
|        Order Subtotals         |  view |
|     Product Sales for 1997     |  view |
|  Products Above Average Price  |  view |
|      Products by Category      |  view |
|        Quarterly Orders        |  view |
|     Sales Totals by Amount     |  view |
|  Summary of Sales by Quarter   |  view |
|    Summary of Sales by Year    |  view |
|    Category Sales for 1997     |  view |
|     Order Details Extended     |  view |
|       Sales by Category        |  view |
|        ProductDetails_V        |  view |
+--------------------------------+-------+

#### INTRODUCTION
This analysis project is a guided project provided by Dataquest. The data used in this project derived from Northwind Database (link: https://github.com/pthom/northwind_psql/tree/master)

The analysis for this dataset aims to answer questions relating to : 
1. Employee sales performance ranking
2. Running total of monthly sales
3. Month-over-Month sales growth 
4. High value customers identification
5. Percentage of sales for each product category
6. Top product for each category

1. Employee ranking based on total sales

In [6]:
%%sql
WITH employee_sales AS (
 SELECT e.employeeid, 
       e.firstname, 
       e.lastname,
       COUNT(od.orderid) AS total_order,
       SUM((odd.quantity*odd.unitprice)-odd.discount) AS total_sales
  FROM orders AS od
  JOIN [order details] AS odd 
    ON od.orderid=odd.orderid
  JOIN employees AS e
    ON od.employeeid=e.employeeid
 GROUP BY e.employeeid)
 
 SELECT *,
        RANK () OVER (ORDER BY total_sales DESC) AS rank
   FROM employee_sales;

+------------+-----------+-----------+-------------+--------------------+------+
| employeeid | firstname |  lastname | total_order |    total_sales     | rank |
+------------+-----------+-----------+-------------+--------------------+------+
|     4      |  Margaret |  Peacock  |     420     | 250161.69999999992 |  1   |
|     3      |   Janet   | Leverling |     321     | 213035.34999999992 |  2   |
|     1      |   Nancy   |  Davolio  |     345     |     202126.72      |  3   |
|     2      |   Andrew  |   Fuller  |     241     | 177738.71000000008 |  4   |
|     7      |   Robert  |    King   |     176     | 141283.04000000004 |  5   |
|     8      |   Laura   |  Callahan |     260     | 133286.42999999996 |  6   |
|     9      |    Anne   | Dodsworth |     107     |      82956.7       |  7   |
|     6      |  Michael  |   Suyama  |     168     | 78188.95000000001  |  8   |
|     5      |   Steven  |  Buchanan |     117     |      75559.95      |  9   |
+------------+-----------+-----------+-------------+--------------------+------+

#### Visualization on best-performing employees : 

https://public.tableau.com/app/profile/novita.eliana/viz/NorthwindTraders-1_EmployeeRankings/NorthwindTraders-1_Employeerankings

#### INSIGHT 
Based on total sales, the top-performing employee is Margaret Peacock with total sales of 250161 and the least performing employee is Steven Buchanan with total sales of 75559. 

#### RECOMMENDATION
Based on the insight provided above, company's management can recognize and reward top-performing employee and provide necessary support for the least-performing employee.

#### 2. Running total of monthly sales

In [5]:
%%sql 

WITH monthly_sales AS ( 
SELECT strftime ('%Y',od.orderdate) AS year, 
       strftime ('%m',od.orderdate) AS month, 
       SUM(odd.unitprice * odd.quantity * (1 - odd.discount)) AS total_monthly_sales
  FROM orders AS od
  JOIN [order details] AS odd
    ON od.orderid=odd.orderid
    GROUP BY strftime ('%Y',od.orderdate), strftime ('%m',od.orderdate)
     ORDER BY year,month)
    
    SELECT *, 
           SUM(total_monthly_sales) OVER (PARTITION BY year ORDER BY year ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS running_total 
      FROM monthly_sales;

+------+-------+---------------------+--------------------+
| year | month | total_monthly_sales |   running_total    |
+------+-------+---------------------+--------------------+
| 2016 |   07  |  27861.894999999997 | 27861.894999999997 |
| 2016 |   08  |  25485.275000000005 |      53347.17      |
| 2016 |   09  |  26381.399999999998 | 79728.56999999999  |
| 2016 |   10  |  37515.72499999999  | 117244.29499999998 |
| 2016 |   11  |      45600.045      | 162844.33999999997 |
| 2016 |   12  |  45239.63000000001  | 208083.96999999997 |
| 2017 |   01  |       61258.07      |      61258.07      |
| 2017 |   02  |      38483.635      |     99741.705      |
| 2017 |   03  |  38547.219999999994 |     138288.925     |
| 2017 |   04  |      53032.9525     |    191321.8775     |
| 2017 |   05  |       53781.29      |    245103.1675     |
| 2017 |   06  |  36362.802500000005 | 281465.97000000003 |
| 2017 |   07  |      51020.8575     |    332486.8275     |
| 2017 |   08  |       47287.67      |    379774.4975     |
| 2017 |   09  |  55629.24249999999  |     435403.74      |
| 2017 |   10  |  66749.22600000001  |     502152.966     |
| 2017 |   11  |  43533.808999999994 |     545686.775     |
| 2017 |   12  |  71398.42849999998  | 617085.2035000001  |
| 2018 |   01  |  94222.11050000002  | 94222.11050000002  |
| 2018 |   02  |  99415.28749999998  |     193637.398     |
| 2018 |   03  |  104854.15500000001 |     298491.553     |
| 2018 |   04  |  123798.68250000001 |    422290.2355     |
| 2018 |   05  |      18333.6305     | 440623.86600000004 |
+------+-------+---------------------+--------------------+

#### INSIGHT 
The data above show a sales trend over time. Monitoring company's overall sales performance periodically can help company understand sales trend better and devise sales strategy accordingly.

3. Monthly sales growth

In [3]:
%%sql

WITH monthly_sales AS ( 
SELECT strftime ('%Y',od.orderdate) AS year, 
       strftime ('%m',od.orderdate) AS month, 
       SUM(odd.unitprice * odd.quantity * (1 - odd.discount)) AS current_month_sales
  FROM orders AS od
  JOIN [order details] AS odd
    ON od.orderid=odd.orderid
    GROUP BY strftime ('%Y',od.orderdate), strftime ('%m',od.orderdate)
     ORDER BY year,month),
    
previous_month_sales AS (
SELECT *, 
        LAG(current_month_sales) OVER (PARTITION BY year ORDER BY month) AS last_month_sales 
   FROM monthly_sales),
   
growth_rate_table AS (
SELECT *, 
         (current_month_sales-last_month_sales)/last_month_sales*100 AS growth_rate
    FROM previous_month_sales)
    
SELECT *, 
       CASE
            WHEN growth_rate>0 THEN 'Increase'
            WHEN growth_rate<0 THEN 'Decrease'
            ELSE 'No Change'
             END AS growth_change
  FROM growth_rate_table;

+------+-------+---------------------+--------------------+---------------------+---------------+
| year | month | current_month_sales |  last_month_sales  |     growth_rate     | growth_change |
+------+-------+---------------------+--------------------+---------------------+---------------+
| 2016 |   07  |  27861.894999999997 |        None        |         None        |   No Change   |
| 2016 |   08  |  25485.275000000005 | 27861.894999999997 |  -8.530001279525287 |    Decrease   |
| 2016 |   09  |  26381.399999999998 | 25485.275000000005 |  3.5162461460588226 |    Increase   |
| 2016 |   10  |  37515.72499999999  | 26381.399999999998 |  42.20520897298852  |    Increase   |
| 2016 |   11  |      45600.045      | 37515.72499999999  |  21.549150389603316 |    Increase   |
| 2016 |   12  |  45239.63000000001  |     45600.045      | -0.7903829919465789 |    Decrease   |
| 2017 |   01  |       61258.07      |        None        |         None        |   No Change   |
| 2017 |   02  |      38483.635      |      61258.07      |  -37.17785264863878 |    Decrease   |
| 2017 |   03  |  38547.219999999994 |     38483.635      | 0.16522607596707495 |    Increase   |
| 2017 |   04  |      53032.9525     | 38547.219999999994 |  37.57918858999432  |    Increase   |
| 2017 |   05  |       53781.29      |     53032.9525     |  1.4110802147023616 |    Increase   |
| 2017 |   06  |  36362.802500000005 |      53781.29      | -32.387634249754875 |    Decrease   |
| 2017 |   07  |      51020.8575     | 36362.802500000005 |  40.31057562188721  |    Increase   |
| 2017 |   08  |       47287.67      |     51020.8575     |  -7.316983059330197 |    Decrease   |
| 2017 |   09  |  55629.24249999999  |      47287.67      |  17.64005818007103  |    Increase   |
| 2017 |   10  |  66749.22600000001  | 55629.24249999999  |   19.9894569838876  |    Increase   |
| 2017 |   11  |  43533.808999999994 | 66749.22600000001  | -34.780054228643806 |    Decrease   |
| 2017 |   12  |  71398.42849999998  | 43533.808999999994 |  64.00684925134851  |    Increase   |
| 2018 |   01  |  94222.11050000002  |        None        |         None        |   No Change   |
| 2018 |   02  |  99415.28749999998  | 94222.11050000002  |  5.511633068333734  |    Increase   |
| 2018 |   03  |  104854.15500000001 | 99415.28749999998  |  5.470856280529328  |    Increase   |
| 2018 |   04  |  123798.68250000001 | 104854.15500000001 |  18.067502904391336 |    Increase   |
| 2018 |   05  |      18333.6305     | 123798.68250000001 |  -85.19077091147558 |    Decrease   |
+------+-------+---------------------+--------------------+---------------------+---------------+

#### Visualization on monthly growth rate : 

https://public.tableau.com/app/profile/novita.eliana/viz/NorthwindTraders-2_MonthlyGrowthRate/NorthwindTraders-2_MonthlyGrowthRate

#### INSIGHT
The data above provide a more detailed picture on monthly sales growth, informing company the pattern of increasing and decreasing sales from month to month. The insight can be used to help company devise an appropriate sales strategy to achieve sales goal.

4. High value customer identification

In [15]:
%%sql

WITH customer_order_value AS (
    SELECT c.customerid, 
           COUNT(od.orderid) AS total_order, 
           SUM(odd.unitprice * odd.quantity * (1 - odd.discount)) AS total_order_value
      FROM orders AS od
      JOIN [order details] AS odd
        ON od.orderid=odd.orderid
      JOIN customers AS c
        ON od.customerid=c.customerid
     GROUP BY c.customerid)
   
   SELECT *, 
          CASE
          WHEN total_order_value > AVG(total_order_value) OVER()THEN 'Above Average' 
          ELSE 'Below Average'                                
           END AS customer_category                      
     FROM customer_order_value;

+------------+-------------+--------------------+-------------------+
| customerid | total_order | total_order_value  | customer_category |
+------------+-------------+--------------------+-------------------+
|   ALFKI    |      12     |       4273.0       |   Below Average   |
|   ANATR    |      10     |      1402.95       |   Below Average   |
|   ANTON    |      17     | 7023.977499999999  |   Below Average   |
|   AROUT    |      30     | 13390.650000000001 |   Below Average   |
|   BERGS    |      52     | 24927.577499999996 |   Above Average   |
|   BLAUS    |      14     |       3239.8       |   Below Average   |
|   BLONP    |      26     |      18534.08      |   Above Average   |
|   BOLID    |      6      |      4232.85       |   Below Average   |
|   BONAP    |      44     | 21963.252500000002 |   Above Average   |
|   BOTTM    |      35     |      20801.6       |   Above Average   |
|   BSBEV    |      22     |       6089.9       |   Below Average   |
|   CACTU    |      11     |       1814.8       |   Below Average   |
|   CENTC    |      2      |       100.8        |   Below Average   |
|   CHOPS    |      22     |      12348.88      |   Below Average   |
|   COMMI    |      10     |      3810.75       |   Below Average   |
|   CONSH    |      7      |       1719.1       |   Below Average   |
|   DRACD    |      10     |      3763.21       |   Below Average   |
|   DUMON    |      9      | 1615.8999999999999 |   Below Average   |
|   EASTC    |      21     |     14761.035      |   Above Average   |
|   ERNSH    |     102     |    104874.9785     |   Above Average   |
|   FAMIA    |      19     |      4107.55       |   Below Average   |
|   FOLIG    |      16     |      11666.9       |   Below Average   |
|   FOLKO    |      45     |     29567.5625     |   Above Average   |
|   FRANK    |      48     | 26656.559499999996 |   Above Average   |
|   FRANR    |      6      |      3172.16       |   Below Average   |
|   FRANS    |      10     |       1545.7       |   Below Average   |
|   FURIB    |      20     | 6427.422500000001  |   Below Average   |
|   GALED    |      8      |       836.7        |   Below Average   |
|   GODOS    |      26     |      11446.36      |   Below Average   |
|   GOURL    |      19     |      8414.135      |   Below Average   |
|   GREAL    |      22     |      18507.45      |   Above Average   |
|   GROSR    |      4      |       1488.7       |   Below Average   |
|   HANAR    |      32     | 32841.369999999995 |   Above Average   |
|   HILAA    |      45     | 22768.764000000003 |   Above Average   |
|   HUNGC    |      9      |       3063.2       |   Below Average   |
|   HUNGO    |      55     | 49979.905000000006 |   Above Average   |
|   ISLAT    |      23     |       6146.3       |   Below Average   |
|   KOENE    |      39     | 30908.384000000002 |   Above Average   |
|   LACOR    |      11     | 1992.0500000000002 |   Below Average   |
|   LAMAI    |      31     | 9328.199999999997  |   Below Average   |
|   LAUGB    |      8      |       522.5        |   Below Average   |
|   LAZYK    |      2      |       357.0        |   Below Average   |
|   LEHMS    |      39     |      19261.41      |   Above Average   |
|   LETSS    |      10     |     3076.4725      |   Below Average   |
|   LILAS    |      34     | 16076.599999999999 |   Above Average   |
|   LINOD    |      35     | 16476.565000000002 |   Above Average   |
|   LONEP    |      14     |       4258.6       |   Below Average   |
|   MAGAA    |      21     |      7176.215      |   Below Average   |
|   MAISD    |      17     | 9736.074999999999  |   Below Average   |
|   MEREP    |      32     |      28872.19      |   Above Average   |
|   MORGK    |      11     |       5042.2       |   Below Average   |
|   NORTS    |      6      |       649.0        |   Below Average   |
|   OCEAN    |      11     |       3460.2       |   Below Average   |
|   OLDWO    |      24     |     15177.4625     |   Above Average   |
|   OTTIK    |      29     |      12496.2       |   Below Average   |
|   PERIC    |      14     |       4242.2       |   Below Average   |
|   PICCO    |      23     |      23128.86      |   Above Average   |
|   PRINI    |      10     | 5044.9400000000005 |   Below Average   |
|   QUEDE    |      24     | 6664.810000000001  |   Below Average   |
|   QUEEN    |      40     | 25717.497500000005 |   Above Average   |
|   QUICK    |      86     | 110277.30500000001 |   Above Average   |
|   RANCH    |      12     |       2844.1       |   Below Average   |
|   RATTC    |      71     | 51097.80049999999  |   Above Average   |
|   REGGC    |      22     |      7048.24       |   Below Average   |
|   RICAR    |      27     |      12450.8       |   Below Average   |
|   RICSU    |      30     | 19343.779000000002 |   Above Average   |
|   ROMEY    |      14     |      1467.29       |   Below Average   |
|   SANTG    |      16     | 5735.150000000001  |   Below Average   |
|   SAVEA    |     116     | 104361.95000000001 |   Above Average   |
|   SEVES    |      26     |     16215.325      |   Above Average   |
|   SIMOB    |      15     |     16817.0975     |   Above Average   |
|   SPECD    |      6      |      2423.35       |   Below Average   |
|   SPLIR    |      20     | 11441.630000000001 |   Below Average   |
|   SUPRD    |      39     |      24088.78      |   Above Average   |
|   THEBI    |      7      |       3361.0       |   Below Average   |
|   THECR    |      8      |      1947.24       |   Below Average   |
|   TOMSP    |      14     | 4778.139999999999  |   Below Average   |
|   TORTU    |      29     |      10812.15      |   Below Average   |
|   TRADH    |      13     |      6850.664      |   Below Average   |
|   TRAIH    |      9      | 1571.1999999999998 |   Below Average   |
|   VAFFE    |      31     |     15843.925      |   Above Average   |
|   VICTE    |      25     |      9182.43       |   Below Average   |
|   VINET    |      10     |       1480.0       |   Below Average   |
|   WANDK    |      26     |      9588.425      |   Below Average   |
|   WARTH    |      37     | 15648.702499999998 |   Above Average   |
|   WELLI    |      19     | 6068.200000000001  |   Below Average   |
|   WHITC    |      40     |     27363.605      |   Above Average   |
|   WILMK    |      17     |      3161.35       |   Below Average   |
|   WOLZA    |      16     |      3531.95       |   Below Average   |
+------------+-------------+--------------------+-------------------+

#### Visualization on list of high value customers : 

https://public.tableau.com/app/profile/novita.eliana/viz/NorthwindTraders-3_HighValueCustomers/NorthwindTraders-3_HighValueCustomer

#### INSIGHT 
The data outlines high-value and below average customers based on their total order value. Company can use this insight to tailor  promotion and offers that could drive sales and improve customers engagement.

5. Percentage of sales for each product category

In [16]:
%%sql

WITH product_category_sales AS (
    SELECT c.categoryid, 
           c.categoryname, 
           SUM(od.unitprice * od.quantity * (1 - od.discount)) AS total_sales
      FROM categories AS c
      JOIN products AS p
        ON c.categoryid = p.categoryid
      JOIN [order details] AS od
        ON p.productid = od.productid
    GROUP BY c.categoryid)
    
 SELECT *, 
        total_sales/SUM (total_sales) OVER ()*100 AS percentage_total_sales
   FROM product_category_sales
   ORDER BY percentage_total_sales DESC;

#### Visualization on percentage of sales for each product category :

https://public.tableau.com/app/profile/novita.eliana/viz/NorthwindTraders-4_PercentageofSalesforEachProductCategory/NorthwindTraders-4_PercentageofSalesEachProductCategory

#### INSIGHT
The data above show that beverages, dairy products and condections accounted for more than 50% of company's sales. Understanding percentage of each product category will help company  managing inventory as well as improving marketing strategies.

6. Top product per category

In [21]:
%%sql

WITH product_category_sales AS (
    SELECT c.categoryid, 
           c.categoryname,
           p.productid,
           p.productname,
           SUM(od.unitprice*od.quantity*(1-discount)) AS total_sales
      FROM categories AS c
      JOIN products AS p
        ON c.categoryid = p.categoryid
      JOIN [order details] AS od
        ON p.productid = od.productid
    GROUP BY c.categoryid,p.productid),
    
ranking_table AS (SELECT *, 
           ROW_NUMBER () OVER (PARTITION BY categoryid ORDER BY total_sales DESC) AS rank 
      FROM product_category_sales)
      
SELECT *
  FROM ranking_table
 WHERE rank<=3;

+------------+----------------+-----------+----------------------------------+--------------------+------+
| categoryid |  categoryname  | productid |           productname            |    total_sales     | rank |
+------------+----------------+-----------+----------------------------------+--------------------+------+
|     1      |   Beverages    |     38    |          Cte de Blaye           |     141396.735     |  1   |
|     1      |   Beverages    |     43    |           Ipoh Coffee            | 23526.699999999997 |  2   |
|     1      |   Beverages    |     2     |              Chang               |      16355.96      |  3   |
|     2      |   Condiments   |     63    |           Vegie-spread           |     16701.095      |  1   |
|     2      |   Condiments   |     61    |          Sirop d'rable          |      14352.6       |  2   |
|     2      |   Condiments   |     65    | Louisiana Fiery Hot Pepper Sauce | 13869.890000000001 |  3   |
|     3      |  Confections   |     62    |          Tarte au sucre          |      47234.97      |  1   |
|     3      |  Confections   |     20    |      Sir Rodney's Marmalade      | 22563.359999999997 |  2   |
|     3      |  Confections   |     26    |       Gumbr Gummibrchen        | 19849.144500000002 |  3   |
|     4      | Dairy Products |     59    |       Raclette Courdavault       |      71155.7       |  1   |
|     4      | Dairy Products |     60    |        Camembert Pierrot         |      46825.48      |  2   |
|     4      | Dairy Products |     72    |      Mozzarella di Giovanni      |      24900.13      |  3   |
|     5      | Grains/Cereals |     56    |      Gnocchi di nonna Alice      |      42593.06      |  1   |
|     5      | Grains/Cereals |     64    |    Wimmers gute Semmelkndel     | 21957.967500000002 |  2   |
|     5      | Grains/Cereals |     42    |  Singaporean Hokkien Fried Mee   |       8575.0       |  3   |
|     6      |  Meat/Poultry  |     29    |     Thringer Rostbratwurst      |     80368.672      |  1   |
|     6      |  Meat/Poultry  |     17    |           Alice Mutton           | 32698.379999999997 |  2   |
|     6      |  Meat/Poultry  |     53    |          Perth Pasties           | 20574.170000000006 |  3   |
|     7      |    Produce     |     51    |      Manjimup Dried Apples       |      41819.65      |  1   |
|     7      |    Produce     |     28    |        Rssle Sauerkraut         | 25696.640000000007 |  2   |
|     7      |    Produce     |     7     | Uncle Bob's Organic Dried Pears  |      22044.3       |  3   |
|     8      |    Seafood     |     18    |         Carnarvon Tigers         |     29171.875      |  1   |
|     8      |    Seafood     |     10    |              Ikura               | 20867.340000000004 |  2   |
|     8      |    Seafood     |     40    |         Boston Crab Meat         |      17910.63      |  3   |
+------------+----------------+-----------+----------------------------------+--------------------+------+

#### Visualization on top product per category : 

https://public.tableau.com/app/profile/novita.eliana/viz/NorthwindTraders-5_TopProductsinEachCategory/NorthwindTraders-5_Percentageof

#### INSIGHT
The data show the top 3 most-sold products for each category. This insight can be used by company to identify star product and ensure their availibility in invetory and keep their popularity through marketing efforts.